


.container{
    
    padding-left: 150px;
    
    
}
.child-1{
    display: inline-block;
    width:300px;
    text-align: center;
}
.child-2{
    
    display: inline-block;
    width:300px;
    text-align: center;
}
.child-3{
    display: inline-block;
    width:300px;
    text-align: center;
}
.child-4{
    display: inline-block;
    width:300px;
    text-align: center;
}
img{
    width: 100%;
   
}