.screen{
    width:350px;
    height:690px;
    border:10px solid black;
    border-radius:30px;
    position: relative;
    left: 40%;
    
    
}

.header{
    background:limegreen;
    height:70px;
    width: 350px;
    position: absolute;
    
    z-index: -1;
    line-height: 10px;
    
}

.header i{
     display: inline-block;
     width: 30px;
     height: 50px;
     font-size: 25px;
     color: white;
     margin-top: 20px;
     margin-left: 10px;
     vertical-align: middle;

}

.header img{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius:50%;
    vertical-align: middle;
}

.name{
    height: 40px;
    display: inline-block;
    font-size:25px;
    vertical-align: middle;
    margin-left:10px;
    padding-top:30px;
}
.hleft{
    display: inline-block;
    width: 130px;
    height: 30px;
    vertical-align: middle;
    margin-left: 40px;
    margin-bottom: 10px;
    

}
.hleft i{
    display: inline-block;
    margin-top: 10px;
    line-height: 10px;
}

.chat{
    position: absolute;
    top: 70px;     
    bottom: 45px;  

    width: 100%;
    
     overflow: scroll;
     scrollbar-width: none;
   
}

.date{
    border: 2px solid white;
    position: sticky;
    top: 5px;
    background-color: antiquewhite;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    margin-left:  110px;
    margin-bottom: 10px;
}

.right{
    background-color: grey;
    width:150px;
    padding:10px;
    border-radius:15px;

    margin-left:50%;
    margin-bottom:10px;
}

.left{
    background-color: grey;
    width:150px;
    padding:10px;
    margin-left: 5px;
    border-radius:15px;

    margin-bottom:10px;
}
.footer{
    position: absolute;  
    bottom: 0;
    width: 100%;
    margin: 0%;
    
}

.footer input{
    width: 98%;
    height:40px;
    border-radius:20px;
}